@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
}

/* Sidebar - Always Visible */
.sidebar {
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background: #042331;
}

.sidebar header {
    font-size: 22px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #063146;
    user-select: none;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    transition: 0.4s;
}

ul li:hover a {
    padding-left: 50px;
}

.sidebar ul a i {
    margin-right: 16px;
}

/* Remove Sidebar Toggle Button */
#menuToggle {
    display: none;
}

/* Main Content - Adjusted to Avoid Sidebar Overlap */
main {
    margin-left: 270px; /* Adjusted so content is not hidden behind the sidebar */
    padding: 20px;
    flex-grow: 1;
}
